.homepage-parks-image {
	width: 50%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.nav-link {
	vertical-align: middle;
	text-align: left;
	float: left;
	font-size: 120%;
}

.nav-item {
	font-size: 120%;
}

.container-fluid {
	margin-left: 0%;
	padding-left: 0%;
	padding-right: 0%;
	width: 100%;
	padding-bottom: 3%;
	
}

.navbar {
	width: 100%;
}

.survey {
	padding-left: 5%;
	padding-right: 5%;
}

.survey-title {
	text-align: center;
}

.survey-submit{
	float: right;
}

.container-park-info {
	justify-content: flex-start;
	overflow-x: hidden;
}

.detail-park-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

.displayed-detail {
	padding: 3%;
	margin: 3%;
}

.parkpicturehome {
	float:left;
	clear: both;
	padding: 5%;
	align-items: left;
	position: relative;
	containment: parent;
	
}

.parkwords {
	float: right;
	vertical-align: text-top;
	clear: both;
	padding: 5%;
	position: relative;
}